
@import url(icons/font-awesome/css/font-awesome.min.css);


body {
	font-family: 'Poppins', sans-serif !important;
	position: relative;
	/*background: rgb(245,245,245); 
	*/
	display: flex;
	font-size: .835rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	 background: #f1f2f7 !important;


}
*, ::after, ::before {
    box-sizing: border-box;
}
div#root {
    width: 100%;
}

.rounded-circle {
    border-radius: 50%!important;
}
.MuiAppBar-colorPrimary {
	/* -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.05) !important; */
	/* box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.05) !important; */
	box-shadow: none !important;
	color: #000 !important;
	background: #f1f2f7 !important;		
}
.MuiIconButton-root {
	border-radius: 11% !important;
    color: #9799a2 !important;
    background-color: #fff !important;
    padding: 5px !important;
}
.containe{
	min-width: 100%;
	border: 1px solid red;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin-bottom: .5rem;
	font-weight: 500;
	line-height: 1.2;
}
