@import url('./UserInfo.css');


.navSidebar {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 0;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
    box-sizing: border-box;
}
.navSidebar .navigation-divider {
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 11px;
	color: rgba(0,0,0,0.5);
	letter-spacing: 0.5px;
	margin-top: 10px;
}
.navSidebar .navigation-divider:first-child {
	margin-top: 0;
	padding-top: 0;
}
.navSidebar .list-item{
    padding: 0;
    cursor: pointer;
}
.navSidebar .list-item a ,.navSidebar .list-item button{
	background-color: transparent;
    text-decoration: none !important;
    outline: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px 35px;
    color: #505050; 
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;	
}
.navSidebar .list-item .nav-link-icon {
    vertical-align: middle;
    margin-right: .8rem;
    transition: all .3s;
    color: #b2b2b2;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;	

}
.navSidebar .list-item .badge {
	margin-left: auto;
	text-indent: -9999px;
	width: 6px;
	height: 6px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	padding: 0;
}

.navSidebar .list-item .submenu {
	display: none;
}
.navSidebar .list-item.active .submenu {
	display: block;
}


.navSidebar .list-item .submenu a {
	color: #505050;
    margin-left: 15%;
    width: fit-content
}

.navSidebar .list-item:hover{
	background: #fafafa;
}
.navSidebar li:hover a, .navSidebar li:hover button{
    color:#000;
} 

.navSidebar li:hover .nav-link-icon{
    color: #7a7272;

} 

/****************************** test***********************/

.openCloseWrap {
	position: absolute;
	width: 0.3rem;
	height: 0.3rem;
	margin: 50px auto;
	display: block;
	cursor: pointer;
right: 31px;
  }
  .openCloseWrap:hover .openClose,
  .openCloseWrap:hover .openClose:before {
	background-color: rgba(0, 0, 0, 0.6);
  }
  .openCloseWrap .openClose {
	width: 0.3rem;
	height: 2px;
	background-color: #858181;
	position: absolute;
	top: 0;
	left: 0;
	transform-origin: 50% 50%;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
  }
  .openCloseWrap .openClose:before {
	content: ' ';
	position: absolute;
	height: 2px;
	width: 0.3rem;
	top: 0;
	left: 0;
	background-color: #858181;
	transform-origin: 50% 50%;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
  }
  .openClose {
	transform: rotate(45deg) translate(0.15rem, 0px);
	-webkit-transform: rotate(45deg) translate(0.15rem, 0px);
	-moz-transform: rotate(45deg) translate(0.15rem, 0px);
	-ms-transform: rotate(45deg) translate(0.15rem, 0px);
	-o-transform: rotate(45deg) translate(0.15rem, 0px);
  }
  .openClose:before {
	transform: rotate(-90deg) translate(-0.15rem, -0.15rem);
	-webkit-transform: rotate(-90deg) translate(-0.15rem, -0.15rem);
	-moz-transform: rotate(-90deg) translate(-0.15rem, -0.15rem);
	-ms-transform: rotate(-90deg) translate(-0.15rem, -0.15rem);
	-o-transform: rotate(-90deg) translate(-0.15rem, -0.15rem);
  }
  .arrowDown .openClose {
	transform: rotate(45deg) translate(0px, 0.15rem);
	-webkit-transform: rotate(45deg) translate(0px, 0.15rem);
	-moz-transform: rotate(45deg) translate(0px, 0.15rem);
	-ms-transform: rotate(45deg) translate(0px, 0.15rem);
	-o-transform: rotate(45deg) translate(0px, 0.15rem);
  }
  .arrowDown .openClose:before {
	transform: rotate(-90deg) translate(0.15rem, 0.15rem);
	-webkit-transform: rotate(-90deg) translate(0.15rem, 0.15rem);
	-moz-transform: rotate(-90deg) translate(0.15rem, 0.15rem);
	-ms-transform: rotate(-90deg) translate(0.15rem, 0.15rem);
	-o-transform: rotate(-90deg) translate(0.15rem, 0.15rem);
  }
  